<div class="section" style="padding: 100px 0; background-color: #ECF4F1">
    <div class="shape-divider" data-shape="wave-5" data-height="50"></div>
    <div class="position-absolute top-0 start-0 w-100 h-100" style="background: url('assets/demos/kindergarten/images/hero-bg-icons.svg') center center / cover; opacity: 0.04"></div>
    <div class="container z-3">
        <h2 class="color text-center h1 fw-bold mb-5 pb-2">Dernières Nouvelles:</h2>

        <div class="row gutter-50">
            <div class="col-lg-4">
                <!-- Post Article -->
                <div class="posts-md">
                    <div class="entry">
                        <div class="entry-image position-relative mb-md-4">
                            <a href="#">
                                <img src="assets/demos/kindergarten/images/news/1.jpg" alt="Image 3" class="rounded-5">
                                <div class="shape-divider" data-shape="wave-5" data-position="bottom" data-width="110" data-height="30" data-fill="#ECF4F1"></div>
                            </a>
                            <div class="entry-date">Mar<span>27</span></div>
                        </div>
                        <div class="entry-title nott">
                            <h3><a class="ls0 h3" href="#">Teaching Reading With Online Families</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Post Article -->
                <div class="posts-md">
                    <div class="entry">
                        <div class="entry-image position-relative mb-md-4">
                            <a href="#">
                                <img src="assets/demos/kindergarten/images/news/2.jpg" alt="Image 3" class="rounded-5">
                                <div class="shape-divider" data-shape="wave-5" data-position="bottom" data-width="110" data-height="30" data-fill="#ECF4F1"></div>
                            </a>
                            <div class="entry-date">Apr<span>03</span></div>
                        </div>
                        <div class="entry-title nott">
                            <h3><a class="ls0 h3" href="#">Mother’s Day and Father’s Day Gift Ideas</a></h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- Post Article -->
                <div class="posts-md">
                    <div class="entry">
                        <div class="entry-image position-relative mb-md-4">
                            <a href="#">
                                <img src="assets/demos/kindergarten/images/news/3.jpg" alt="Image 3" class="rounded-5">
                                <div class="shape-divider" data-shape="wave-5" data-position="bottom" data-width="110" data-height="30" data-fill="#ECF4F1"></div>
                            </a>
                            <div class="entry-date">Jun<span>11</span></div>
                        </div>
                        <div class="entry-title nott">
                            <h3><a class="ls0 h3" href="#">Developing Fine Motor Skills With Crafts</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-divider" data-shape="wave-5" data-position="bottom" data-height="60"></div>
</div>