<!-- Footer
============================================= -->
<footer id="footer" class="border-0" style="background-image: linear-gradient(to top, #61BFDB, #E0F2C2, #FFF);">

    <div class="position-absolute top-0 start-0 w-100 h-100" style="background: transparent url('assets/demos/kindergarten/images/footer.png') center bottom / cover;"></div>

    <div class="container" style="padding-bottom: 380px;">+
        <div class="footer-widgets-wrap">
            <div class="row col-mb-50">
                <div class="col-lg-1-5 col-4">
                    <div class="widget widget_links">

                        <h3 class="ls0 mb-3 fw-bold">Features</h3>

                        <ul>
                            <li><a href="#" class="h-text-color">Help Center</a></li>
                            <li><a href="#" class="h-text-color">Paid with Moblie</a></li>
                            <li><a href="#" class="h-text-color">Status</a></li>
                            <li><a href="#" class="h-text-color">Changelog</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-1-5 col-4">
                    <div class="widget widget_links">

                        <h3 class="ls0 mb-3 fw-bold">Support</h3>

                        <ul>
                            <li><a href="/" class="h-text-color">Accueil</a></li>
                            <li><a routerLink="/a-propos" class="h-text-color">A propos</a></li>
                            <li><a routerLink="/faq" class="h-text-color">FAQs</a></li>
                            <li><a routerLink="/nous-contacter" class="h-text-color">Contact</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-1-5 col-4">
                    <div class="widget widget_links">

                        <h3 class="ls0 mb-3 fw-bold">Tendance</h3>

                        <ul>
                            <li><a routerLink="/services" class="h-text-color">Services</a></li>
                            <li><a routerLink="/galerie" class="h-text-color">Galleries</a></li>
                            <li><a routerLink="/blog" class="h-text-color">Actualités</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-1-5 col-6">
                    <div class="widget">
                        <h3 class="ls0 mb-3 fw-bold">Heures d'ouverture</h3>

                        <ul class="list-unstyled iconlist ms-0">
                            <li class="mb-2"><a href="#" class="text-dark h-text-color">Lundi - Vendredi</a></li>
                            <li class="mb-2"><a href="#" class="text-dark h-text-color">6:30 - 20:00</a></li>
                            <li class="mb-2"><a href="#" class="text-dark h-text-color">Dimanche Fermé</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1-5 col-6">
                    <div class="widget clearfix">

                        <h3 class="ls0 mb-3 fw-bold">Contact</h3>

                        <div>
                            <address class="font-body text-dark mb-3">
                                Cocody Riviera Abatta, Cité Oribat DM 2e Tranche<br>
                                Rue Des Oliviers, Villa 394<br>
                            </address>
                            <div class="mb-1"><i class="h6 icon-line-phone-call me-2">:</i> <a class="text-dark h-text-color" href="tel:2735961696">+(255) 27 359 616 96</a></div>
                            <div><i class="h6 icon-whatsapp me-2">:</i> <a class="text-dark h-text-color" href="https://wa.me/0142022568">+(255) 01 420 225 68</a></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-auto text-center mt-4 text-smaller pb-3 font-primary">
        Copyrights &copy; 2022 All Rights Reserved by <a href="http://ivoirelight-technologies.web.app/" target="_blank" rel="noopener noreferrer"><span class="text-white">Ivoirelight-Technologies</span></a>.
    </div>

</footer><!-- #footer end -->