<!-- Level Liste
============================================= -->
<div class="section py-6" style="background-color: #F6F3EE;">
    <div class="shape-divider" data-shape="wave-5" data-height="50"></div>
    <div class="position-absolute top-0 start-0 w-100 h-100" style="background: url('assets/demos/kindergarten/images/hero-bg-icons.svg') center center / cover; opacity: 0.04"></div>
    <div class="container py-5">
        <ul class="nav nav-pills justify-content-around mx-auto mw-sm mb-3 flex-column flex-md-row" role="tablist">
            <li class="nav-item " role="presentation">
                <button class="nav-link color1 active" id="age-toddler-tab" data-bs-toggle="pill" data-bs-target="#age-toddler" type="button" role="tab" aria-controls="age-toddler" aria-selected="true">Crèche<span>6mois - 2ans</span></button>
            </li>
            <li class="nav-item " role="presentation">
                <button class="nav-link color2" id="age-preschool-tab" data-bs-toggle="pill" data-bs-target="#age-preschool" type="button" role="tab" aria-controls="age-preschool" aria-selected="false">Garderie<span>6mois - 8ans</span></button>
            </li>
            <li class="nav-item " role="presentation">
                <button class="nav-link color3" id="age-kindergarten-tab" data-bs-toggle="pill" data-bs-target="#age-kindergarten" type="button" role="tab" aria-controls="age-kindergarten" aria-selected="false">Préscolaire<span>2ans - 5ans</span></button>
            </li>
            <li class="nav-item " role="presentation">
                <button class="nav-link color4" id="age-prekindergarten-tab" data-bs-toggle="pill" data-bs-target="#age-prekindergarten" type="button" role="tab" aria-controls="age-prekindergarten" aria-selected="false">Pre-Kindergarten <span>4 - 5 years</span></button>
            </li>
        </ul>
        <div class="clear"></div>
        <div class="tab-content topmargin-sm">
            <div class="tab-pane fade show active" id="age-toddler" role="tabpanel" aria-labelledby="age-toddler-tab">
                <div class="row col-mb-30">
                    <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color1">ABC's of Learning</h3>
                            <div class="card-body p-4">
                                Our curriculum is specifically designed to assist your toddler in developing the essentials for early.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                    <li class="mb-3">Synergistically disseminate plug-and-play manufactured products without alternative e-tailers. Conveniently pontificate interoperable.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color1">Brain Development</h3>
                            <div class="card-body p-4">
                                Conveniently benchmark flexible human capital for optimal deliverables. Collaboratively fabricate market-driven.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                    <li class="mb-3">Synergistically disseminate plug-and-play manufactured products without alternative e-tailers. Conveniently pontificate interoperable.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color1">General Learning</h3>
                            <div class="card-body p-4">
                                Conveniently benchmark flexible human capital for optimal deliverables. Collaboratively fabricate market-driven.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="age-preschool" role="tabpanel" aria-labelledby="age-preschool-tab">
                <div class="row col-mb-30">
                    <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color2">ABC's of Learning</h3>
                            <div class="card-body p-4">
                                Our curriculum is specifically designed to assist your toddler in developing the essentials for early.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                    <li class="mb-3">Synergistically disseminate plug-and-play manufactured products without alternative e-tailers. Conveniently pontificate interoperable.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color2">Brain Development</h3>
                            <div class="card-body p-4">
                                Conveniently benchmark flexible human capital for optimal deliverables. Collaboratively fabricate market-driven.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                    <li class="mb-3">Synergistically disseminate plug-and-play manufactured products without alternative e-tailers. Conveniently pontificate interoperable.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color2">General Learning</h3>
                            <div class="card-body p-4">
                                Conveniently benchmark flexible human capital for optimal deliverables. Collaboratively fabricate market-driven.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="age-kindergarten" role="tabpanel" aria-labelledby="age-kindergarten-tab">
                <div class="row col-mb-30">
                    <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color3">ABC's of Learning</h3>
                            <div class="card-body p-4">
                                Our curriculum is specifically designed to assist your toddler in developing the essentials for early.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                    <li class="mb-3">Synergistically disseminate plug-and-play manufactured products without alternative e-tailers. Conveniently pontificate interoperable.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color3">Brain Development</h3>
                            <div class="card-body p-4">
                                Conveniently benchmark flexible human capital for optimal deliverables. Collaboratively fabricate market-driven.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                    <li class="mb-3">Synergistically disseminate plug-and-play manufactured products without alternative e-tailers. Conveniently pontificate interoperable.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color3">General Learning</h3>
                            <div class="card-body p-4">
                                Conveniently benchmark flexible human capital for optimal deliverables. Collaboratively fabricate market-driven.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="age-prekindergarten" role="tabpanel" aria-labelledby="age-prekindergarten-tab">
                <div class="row col-mb-30">
                    <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color4">ABC's of Learning</h3>
                            <div class="card-body p-4">
                                Our curriculum is specifically designed to assist your toddler in developing the essentials for early.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                    <li class="mb-3">Synergistically disseminate plug-and-play manufactured products without alternative e-tailers. Conveniently pontificate interoperable.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color4">Brain Development</h3>
                            <div class="card-body p-4">
                                Conveniently benchmark flexible human capital for optimal deliverables. Collaboratively fabricate market-driven.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                    <li class="mb-3">Synergistically disseminate plug-and-play manufactured products without alternative e-tailers. Conveniently pontificate interoperable.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6">
                        <div class="card border-0 h-100 shadow-sm">
                            <h3 class="card-header font-primary p-4 color4">General Learning</h3>
                            <div class="card-body p-4">
                                Conveniently benchmark flexible human capital for optimal deliverables. Collaboratively fabricate market-driven.

                                <ul class="ps-3 mt-4 mb-0">
                                    <li class="mb-3">Globally whiteboard visionary bandwidth and interactive catalysts for change. Globally repurpose.</li>
                                    <li class="mb-3">Professionally revolutionize standardized infomediaries via business methods of empowerment. Collaboratively cultivate.</li>
                                    <li class="mb-3">Distinctively parallel task functional internal or "organic" sources and front-end best.</li>
                                    <li class="mb-3">Rapidiously customize worldwide channels via accurate e-tailers. Monotonectally re-engineer premium scenarios.</li>
                                </ul>
                                <a href="#" class="more-link fst-normal ms-3">Learn More <i class="icon-line-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-divider" data-shape="wave-5" data-position="bottom" data-height="60"></div>
</div><!-- #Level Liste end -->