<!-- Hero
============================================= -->
<section id="slider" class="slider-element include-header" style="background-color: rgb(170 5 124);">

    <div class="position-absolute top-0 start-0 w-100 h-100" style="background: transparent url('assets/demos/kindergarten/images/hero-bg-icons.svg') center center / cover; opacity: 0.04"></div>

    <div class="container">
        <div class="row align-items-center min-vh-100 pt-5 pb-4">
            <div class="col-lg-6">
                <h6 class="mb-4 ls1 text-uppercase fw-normal">Une Seconde Maison Pour Votre Enfant</h6>
                <h1 class="display-3 fw-bolder">Jouez, Apprenez et <br> Grandir <span class="color">Ensemble...</span></h1>
                <p class="mt-4 mb-5 fw-light">L' objectif général est de dématérialiser nos services et activités en faveur de la Petite Enfance, et de s’adresser à l’ensemble des professionnels de la petite enfance...</p>
                <a href="preinscription" class="btn text-white bg-color rounded-1 py-3 px-5 fw-medium">Préinscription  <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>
                <a routerLink="/a-propos" class="btn bg-white rounded-1 px-5 py-3 fw-medium ms-2">En Savoir +</a>
            </div>
            <div class="col-lg-6 align-self-end mt-5 mt-lg-0">
                <img src="assets/demos/kindergarten/images/hero.png" alt="Hero Bg">
            </div>
        </div>
    </div>

    <div class="shape-divider" data-shape="wave-2" data-position="bottom" data-height="80"></div>

    <div class="position-relative d-none d-sm-block">
        <img src="assets/demos/kindergarten/images/fish2.png" alt="Fish" class="background-img pos-right float-anim" style="top: -120px">
    </div>

</section>