<div id="posts" class="post-grid row grid-container gutter-30" data-layout="fitRows">

    <div class="col-lg-6">
        <!-- Post Article -->
        <div class="posts-md">
            <div class="entry">
                <div class="entry-image position-relative mb-md-4">
                    <a href="#">
                        <img src="assets/demos/kindergarten/images/news/1.jpg" alt="Image 3" class="rounded-5">
                        <div class="shape-divider" data-shape="wave-5" data-position="bottom" data-width="110" data-height="30" data-fill="#ECF4F1"></div>
                    </a>
                    <div class="entry-date">Mar<span>27</span></div>
                </div>
                <div class="entry-title nott">
                    <h3><a class="ls0 h3" href="#">Teaching Reading With Online Families</a></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <!-- Post Article -->
        <div class="posts-md">
            <div class="entry">
                <div class="entry-image position-relative mb-md-4">
                    <a href="#">
                        <img src="assets/demos/kindergarten/images/news/2.jpg" alt="Image 3" class="rounded-5">
                        <div class="shape-divider" data-shape="wave-5" data-position="bottom" data-width="110" data-height="30" data-fill="#ECF4F1"></div>
                    </a>
                    <div class="entry-date">Apr<span>03</span></div>
                </div>
                <div class="entry-title nott">
                    <h3><a class="ls0 h3" href="#">Mother’s Day and Father’s Day Gift Ideas</a></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <!-- Post Article -->
        <div class="posts-md">
            <div class="entry">
                <div class="entry-image position-relative mb-md-4">
                    <a href="#">
                        <img src="assets/demos/kindergarten/images/news/3.jpg" alt="Image 3" class="rounded-5">
                        <div class="shape-divider" data-shape="wave-5" data-position="bottom" data-width="110" data-height="30" data-fill="#ECF4F1"></div>
                    </a>
                    <div class="entry-date">Jun<span>11</span></div>
                </div>
                <div class="entry-title nott">
                    <h3><a class="ls0 h3" href="#">Developing Fine Motor Skills With Crafts</a></h3>
                </div>
            </div>
        </div>
    </div>

</div>