<div id="wrapper" class="clearfix">

    

    <app-page-title [title]="title" [subtitle]="subtitle" [image]="image"></app-page-title>

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap pb-0">
            <div class="container">

                <div class="row col-mb-50 mb-0">

                    <div class="col-lg-4">

                        <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                            <h4>POURQUOI NOUS <span>CHOISIR</span>.</h4>
                        </div>

                        <p>
                            Nous sommes des Professionnels en 
                            la matière et surtout nous sommes une référence.
                            L' une de nos activités phares est le Centre de Protection 
                            de la Petite Enfance Privé crée en Novembre 2021 à Abidjan dans la commune de Cocody Abatta.
                        </p>

                    </div>

                    <div class="col-lg-4">

                        <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                            <h4>Notre <span>Mission</span>.</h4>
                        </div>

                        <p>
                        </p>

                        <ul style="list-style:none;">
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Devenir une entreprise bien connue avec une reconnaissance  nationale et internationale.
                            </li>
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Assurer la qualité, l'efficacité dans les prestations.
                            </li>
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Être plus efficient dans l'offre de service.
                            </li>
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Être leader nationale en matière de  développement de la Petite Enfance.
                            </li>
                            
                        </ul>


                    </div>

                    <div class="col-lg-4">

                        <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                            <h4>CE QUE NOUS <span>FAISONS</span>.</h4>
                        </div>

                        <ul style="list-style:none;">
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Répondre à aux besoins d’information fiable, précise pour les parents, les néophytes et les professionnels.
                            </li>
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Favoriser les contacts entre professionnels pour la promotion de leurs métiers et sortir de leur isolement.
                            </li>
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Participer à cet élan de décloisonnement des métiers de la petite enfance, engagé depuis  ces dernières années.
                            </li>
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Valoriser les professionnels de la petite enfance en faisant connaître tout ce qui se fait de formidable…  mais méconnu !
                            </li>
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Apporter des regards multiples sur la petite enfance et les pratiques éducatives, en dehors de toute chapelle, dans un esprit d’ouverture.
                            </li>
                            <li><div class="spinner-grow spinner-grow-sm me-2" role="status"><span class="visually-hidden">Loading...</span></div>
                                Accompagner et suivre les néophytes dans la réalisation de leur projet de garde d'enfants.
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

            <div class="section parallax dark bottommargin-lg" style="background-image: url('assets/demos/kindergarten/images/about.jpg'); background-size: cover; padding: 100px 0;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -500px;">

                <div class="container clearfix">
                    <div class="col-lg-12 text-center" data-animate="bounceIn">
                        <div class="heading-block fancy-title border-bottom-0 title-bottom-border">
                            <h1><span>Historique</span>:</h1>
                        </div>
                        
                        <h5>
                            Le groupe KETDIVI a été créé et  démarré ses activités le 11 Novembre  2021 . KETDIVI, Parfum Divin est situé à la Rivière Cocody, route Abatta cité Oribat 2ème Tranche, rue des Oliviers villa 394. <br><br>
                            
                            CPPEP KETDIVI  a été créé par l'association de  Monsieur Koffi Arnaud Homme d'affaires et Mr Bindé  Sociologue et Spécialiste de la Petite Enfance depuis plus de 16 ans. <br><br> 
                            
                            L' objectif général est de dématérialiser nos services et activités en faveur de la Petite Enfance, est de s’adresser à l’ensemble des professionnels de la petite enfance, quels qu’ils soient, assistantes maternelles, auxiliaires d'éducation préscolaire, éducateurs préscolaires, et professionnels, exerçant en crèche, en garderie ou au préscolaire ou dans tout autre centre de la Petite Enfance. <br><br>

                            Ce site web est aussi le vôtre, si vous avez envie d’ y participer, vous êtes les bienvenus. Racontez-nous vos expériences, parlez-nous de vos projets et faites nous connaître tout ce qui se passe d’intéressant dans votre département, dans votre ville, commune ou village.
                        </h5>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-3 text-center" data-animate="bounceIn">
                            <div class="counter counter-lined"><span data-from="10" data-to="100" data-refresh-interval="50" data-speed="4000" data-comma="true"></span></div>
                            <h5>Enfants acceuillis à la Crèche</h5>
                        </div>

                        <div class="col-lg-3 text-center" data-animate="bounceIn" data-delay="200">
                            <div class="counter counter-lined"><span data-from="0" data-to="75" data-refresh-interval="50" data-speed="2500" data-comma="true"></span></div>
                            <h5>Enfants acceuillis à la Garderie</h5>
                        </div>

                        <div class="col-lg-3 text-center" data-animate="bounceIn" data-delay="400">
                            <div class="counter counter-lined"><span data-from="0" data-to="90" data-refresh-interval="50" data-speed="3500" data-comma="true"></span></div>
                            <h5>Enfants acceuillis Au Préscolaire</h5>
                        </div>

                        <div class="col-lg-3 text-center" data-animate="bounceIn" data-delay="600">
                            <div class="counter counter-lined"><span data-from="25" data-to="214" data-refresh-interval="30" data-speed="2700" data-comma="true"></span></div>
                            <h5>Activités Réalisées</h5>
                        </div>
                    </div>

                </div>

            </div>

            <div class="section mb-0">
                <div class="container">
                    <div class="heading-block center border-bottom-0 mb-0">
                        <h3>Nos principaux secteurs d'activités :</h3>
                        <span>
                            Notre objectif est d'offrir
                            la plus grande et complète satisfaction de nos clients, auxquels nous offrons des services.
                        </span>
                        
                    </div>
                </div>
            </div>

            <div class="row block-card-9 col-mb-50">

                <div class="col-lg-4 min-vh-50">
                    <div class="grid-inner rounded-3 h-100">
                        <div class="grid-image lazy" data-bg="assets/demos/kindergarten/images/education.jpg"></div>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content flex-column justify-content-between align-items-start p-5 dark">
                                <div class="grid-icon">
                                    <img src="assets/demos/kindergarten/images/icons/undraw_education_f8ru.svg" alt="Image" width="60">
                                </div>
                                <div class="grid-content">
                                    <h4 class="fw-medium h4">EDUCATION</h4>
                                    <h6 class="fw-medium font-body ls1 text-smaller op-07 mb-2">(Crèche, Garderie &amp; Préscolaire...)</h6>
                                    <a href="#" class="icon-stacked rounded-circle bg-white text-danger text-center mb-0 btn-hover h5"><i class="icon-line-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="bg-overlay-bg" style="background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #b91523 100%);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 min-vh-50">
                    <div class="grid-inner rounded-3 h-100">
                        <div class="grid-image lazy" data-bg="assets/demos/kindergarten/images/imprimerie.jpg"></div>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content flex-column justify-content-between align-items-start p-5 dark">
                                <div class="grid-icon">
                                    <img src="assets/demos/kindergarten/images/icons/undraw_printing_invoices_-5-r4r.svg" alt="Image" width="60">
                                </div>
                                <div class="grid-content">
                                    <h4 class="fw-medium h4">IMPRIMERIE</h4>
                                    <h6 class="fw-medium font-body ls1 text-smaller op-07 mb-2">(liste des services rattachés à ce secteur...)</h6>
                                    <a href="#" class="icon-stacked rounded-circle bg-white text-center mb-0 btn-hover h5" style="color: brown"><i class="icon-line-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="bg-overlay-bg" style="background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #604235 100%);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 min-vh-50">
                    <div class="grid-inner rounded-3 h-100">
                        <div class="grid-image lazy" data-bg="assets/demos/kindergarten/images/agriculture.jpg"></div>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content flex-column justify-content-between align-items-start p-5 dark">
                                <div class="grid-icon">
                                    <img src="assets/demos/kindergarten/images/icons/undraw_nature_m5ll.svg" alt="Image" width="60">
                                </div>
                                <div class="grid-content">
                                    <h4 class="fw-medium h4">AGRICULTURE</h4>
                                    <h6 class="fw-medium font-body ls1 text-smaller op-07 mb-2">(liste des services rattachés à ce secteur...)</h6>
                                    <a href="#" class="icon-stacked rounded-circle bg-white text-success text-center mb-0 btn-hover h5"><i class="icon-line-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="bg-overlay-bg" style="background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #497b37 100%);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 min-vh-50">
                    <div class="grid-inner rounded-3 h-100">
                        <div class="grid-image lazy" data-bg="assets/demos/kindergarten/images/immobilier.jpg"></div>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content flex-column justify-content-between align-items-start p-5 dark">
                                <div class="grid-icon">
                                    <img src="assets/demos/kindergarten/images/icons/undraw_house_searching_re_stk8.svg" alt="Image" width="60">
                                </div>
                                <div class="grid-content">
                                    <h4 class="fw-medium h4">IMMOBILIER</h4>
                                    <h6 class="fw-medium font-body ls1 text-smaller op-07 mb-2">(liste des services rattachés à ce secteur...)</h6>
                                    <a href="#" class="icon-stacked rounded-circle bg-white text-success text-center mb-0 btn-hover h5"><i class="icon-line-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="bg-overlay-bg" style="background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #497b37 100%);"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 min-vh-50">
                    <div class="grid-inner rounded-3 h-100">
                        <div class="grid-image lazy" data-bg="assets/demos/kindergarten/images/hotelerie.jpg"></div>
                        <div class="bg-overlay">
                            <div class="bg-overlay-content flex-column justify-content-between align-items-start p-5 dark">
                                <div class="grid-icon">
                                    <img src="assets/demos/kindergarten/images/icons/undraw_apartment_rent_o-0-ut.svg" alt="Image" width="60">
                                </div>
                                <div class="grid-content">
                                    <h4 class="fw-medium h4">HOTELERIE</h4>
                                    <h6 class="fw-medium font-body ls1 text-smaller op-07 mb-2">(liste des services rattachés à ce secteur...)</h6>
                                    <a href="#" class="icon-stacked rounded-circle bg-white text-success text-center mb-0 btn-hover h5"><i class="icon-line-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="bg-overlay-bg" style="background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, #497b37 100%);"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #content end -->

</div><!-- #wrapper end -->