<div class="container mw-md mb-3" style="background: var(--bs-primary) url('assets/demos/kindergarten/images/subscribe-bg.svg') repeat center center / cover; padding: 80px; border-radius: 2.6rem">
    <div class="text-center dark">
        <h3 class="mb-4 h1 fw-bold">Sign up for Updates &amp; Newsletters.</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br>Quo aliquid earum tenetur corrupti ea ducimus.</p>
    </div>
    <div class="widget subscribe-widget mw-xs mx-auto" data-loader="button">
        <div class="widget-subscribe-form-result"></div>
        <form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="mb-0 input-group">
            <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email ps-4 border-bottom-0" placeholder="Your Email Address">
            <button class="btn btn-dark" type="submit">Subscribe Now</button>
        </form>
    </div>
</div>