<div *ngIf="!((location == '/error-404') || (location == '/preinscription'))" class="modal-on-load" data-target="#myModal1"></div>

	<!-- Modal -->
	<div *ngIf="!((location == '/error-404') || (location == '/preinscription'))" class="modal1 mfp-hide subscribe-widget" id="myModal1">
		<a href="#" class="d-flex mx-auto h-scale-sm all-ts" style="max-width: 670px">
			<img src="assets/demos/kindergarten/images/banner.jpg" alt="Banner Image" class="rounded-4">
		</a>
	</div>

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<app-header *ngIf="!((location == '/error-404') || (location == '/preinscription'))"></app-header>

		<router-outlet></router-outlet>

		<app-footer *ngIf="!((location == '/error-404') || (location == '/preinscription'))"></app-footer>

	</div><!-- #wrapper end -->