<body>
	<!-- Start of thank you section
 	============================================= -->
 	<section id="thank-you" class="thank-you-section" >
 		<div class="container" style="background-color: #fff;">
 			<div class="thank-you-wrapper position-relative thank-wrapper-style-one" id="htmlData">
                <!-- <div class="thank-you-close text-center">x</div> -->
 				<div class="thank-txt text-center">
 					<div class="thank-icon">
 						<img src="assets/thank/assets/img/tht1.png" alt="">
 					</div>
 					<h1>Merci pour votre coopération</h1>
 					<p>Le code de préinscription de {{info?.last_name}} {{info?.first_name}} est: 
						<strong style="color: #61b446;">{{info?.code}}</strong>
					</p>
                    <p>Rendez-vous à Ketdivi pour procéder à l'inscription de votre enfants</p>
                    
 					<a class="d-block text-center text-uppercase" (click)="openPDF()" style="cursor: pointer;" >Imprimer</a>
                     <div class="thank-txt-part2 text-center" style="padding-top: 2%;">
						<span><img src="assets/thank/assets/img/eni.png" alt="" style="padding-right: 1%;">info@ketdivi.net</span>
						<span><img src="assets/thank/assets/img/phi.png" alt="" style="padding-right: 1%;">27 359 616 96</span>
					</div>
                    <br><br>
 				</div>
                <div style="padding-top: 5%; padding-right: 5%;" ></div>
 				<div class="th-bottom-vector position-absolute">
 					<img src="assets/thank/assets/img/ketdivi.jpg" height="352" width="251" alt="">
 				</div>
 			</div>
 		</div>
 	</section>
 	<!-- End of thank you section
 	============================================= -->


</body>