<!-- Service Liste
============================================= -->
<div class="container">
    <h2 class="color h1 fw-bold mb-5">Quels services nous fournissons:</h2>
    <div class="row col-mb-50">
        <div class="col-lg-8">
            <div class="row col-mb-50">
                <div class="col-md-6">
                    <div class="feature-box">
                        <div class="fbox-icon">
                            <img src="assets/demos/kindergarten/images/icons/puzzle.svg" alt="Icon" class="p-2 rounded" style="background-color: #BDE0E0">
                        </div>
                        <div class="fbox-content">
                            <h3 class="nott ls0">Jeux amusants</h3>
                            <p>Energistically negotiate effective web services after installed base sources. Conveniently productivate.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="feature-box">
                        <div class="fbox-icon mb-4">
                            <img src="assets/demos/kindergarten/images/icons/meal.svg" alt="Icon" class="p-2 rounded" style="background-color: #F9E8DF">
                        </div>
                        <div class="fbox-content">
                            <h3 class="nott ls0">Repas sain</h3>
                            <p>Conveniently evolve cross-platform initiatives and interdependent technology dynamically reliable.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="feature-box">
                        <div class="fbox-icon mb-4">
                            <img src="assets/demos/kindergarten/images/icons/teacher.svg" alt="Icon" class="p-2 rounded" style="background-color: #DEE6ED">
                        </div>
                        <div class="fbox-content">
                            <h3 class="nott ls0">Enseignants professionnels</h3>
                            <p>Enthusiastically mesh reliable products without sustainable resources rapidiously seize.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="feature-box">
                        <div class="fbox-icon mb-4">
                            <img src="assets/demos/kindergarten/images/icons/soap.svg" alt="Icon" class="p-2 rounded" style="background-color: #d6ECCD">
                        </div>
                        <div class="fbox-content">
                            <h3 class="nott ls0">Propre et aseptisé</h3>
                            <p>Enthusiastically disseminate granular schemas vis-a-vis timely collaboration and idea-sharing evisculate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mt-5 mt-lg-0">
            <div class="card border-0 p-3 rounded-6" style="background-color: #eddee6;">
                <div class="card-body">
                    <img src="assets/demos/kindergarten/images/card-img.png" alt="Card Image" style="margin-top: -80px;">
                    <h3 class="card-title mt-4">Comment s'occupe-t-on de votre enfant?</h3>
                    <h5 class="fw-normal font-body h6 lh-base mb-0 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus mollitia nemo</h5>
                </div>
            </div>
        </div>
    </div>
</div><!-- #Service Liste end -->